@import components/mixines
html
    font-size: 1px
    +media(2200)
        font-size: 2px
html,
body
    scroll-behavior: smooth

body
    margin: 0
    font-family: "Maven Pro"
    box-sizing: border-box

a
    text-decoration: none

ul
    li
        list-style: none

.wrapper
    margin: 0 15rem

.flex-between 
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap

header
    width: 100%
    +gradient("../img/glass.png")

.navigation-visible
    display: none
    +media(1024)
        display: block

.navigation
    margin: 0 50rem 0 50rem
    padding: 55rem 0
    display: flex
    flex-wrap: wrap
    justify-content: center        
    +media(1024)
        justify-content: space-between        
        flex-wrap: nowrap
    .logo 
        margin: 0 0 15rem
        position: relative
        padding: 5rem 0 0 50rem
        display: flex
        justify-content: space-between
        img 
            position: absolute
            top: -5rem
            left: -10rem
            width: 48rem
            height: 48rem
        p.light,
        p.dark 
            margin: 0
            font-size: 30rem
            letter-spacing: 6rem
            font-weight: 700
            text-transform: uppercase
            color: #fff
        p.dark 
            color: #37374a

.flex-nav
    margin: 0
    display: flex
    flex-wrap: wrap
    text-align: center
    justify-content: center
    column-gap: 700rem
    +media(1024)
        column-gap: 5rem
        justify-content: space-between
        text-align: start

.light
    .cta-empty
        margin: 0
    .btn 
        +btn($fixed:false)
        padding: 8rem 0 
        color: #fff
        transition: all 1s ease
        &:hover
            border: 1rem solid transparent
            background-color: #b7abf7
        +media(718)
            margin: 0

.dark 
    .btn 
        +btn($fixed:false, $empty:true)
        padding: 8rem 0 
        color: #fff
        +media(718)
            margin: 0

.light,
.dark
    margin: 0
    padding-left: 0  
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    +media(1024)
        flex-direction: row
        justify-content: space-between
    li
        padding: 0
        cursor: pointer      
        a
            position: relative
            display: inline-block
            padding: 15rem 0 17rem
            text-decoration: none
            font-size: 16rem
            line-height: 19rem
            font-weight: 500
            color: #fff
            +media(425)
                padding: 15rem 15rem 17rem
            +media(1440)
                padding: 15rem 25rem 17rem
            &::after 
                content: ""
                position: absolute
                top: 22rem
                left: 0
                display: inline-block
                height: 1em
                width: 100%
                border-bottom: 1px solid #fff
                margin-top: 10px
                opacity: 0
                transition: opacity 0.35s, transform 0.35s
                transform: scale(0,1)
            &:hover::after 
                opacity: 1
                transform: scale(1)

.dark
    li 
        a
            color: #6a6a77
            &:hover
                color: #756edc

.cta-empty
    margin: 0

.btn 
    +btn($fixed:false)
    padding: 10rem 0 
    color: #fff

.burger-logo-head
    justify-content: space-between
    width: 100%

.logo 
    margin: 30rem 25rem
    +media(1024)
        display: none

.burger-logo
    position: fixed
    right: 0
    z-index: 3
    +media(1024)
        display: none

.mobile
    position: fixed
    top: -100%
    left: 0
    width: 100%
    height: 100%
    background-color: #756edc
    transition: all 1s ease
    z-index: 2
    +media(1024)
        display: none

.mobile 
    li 
        margin: 0
    +media(1024)
        display: none

.activemobile 
    top: 0

.burger 
    position: relative
    display: block
    margin: 0 25rem
    padding: 30rem 0
    width: 30rem
    height: 30rem
    z-index: 3
    cursor: pointer

.bord
    display: block
    background-color: #fff
    padding: 0
    height: 2rem
    width: 100%
    box-shadow: 0 0 5rem 2rem #b5b2e0
    &::before,
    &::after 
        position: absolute
        content: ""
        background-color: #fff
        height: 2rem
        width: 100%
        box-shadow: 0 0 5rem 2rem #b5b2e0

.bord
    &::before 
        top: 40rem
        right: 0
    &::after 
        right: 0
        bottom: 38rem

.active
    padding: 0
    padding-bottom: 0

.active
    .bord
        background-color: transparent
        box-shadow: 0 0 0 0
        &::before 
            top: 28rem
            transform: rotate(45deg)
        &::after 
            bottom: 0
            transform: rotate(-45deg)

.activedark
    .bord
        background-color: transparent
        &::before 
            top: -300rem
            transform: rotate(45deg)
        &::after 
            top: -300rem
            transform: rotate(-45deg)

.main-info
    padding: 100rem 0
    h1 
        position: relative
        margin: 0
        font-size: 14rem
        letter-spacing: 1rem
        line-height: 1.5em
        font-weight: 700
        text-transform: uppercase
        color: #fff
        +media(425)
            &::before
                content: ""
                position: absolute
                top: 50%
                left: 50rem
                display: block
                width: 25rem
                border: 1rem solid #ffffff
            &::after
                content: ""
                position: absolute
                top: 50%
                right: 50rem
                display: block
                width: 25rem
                border: 1rem solid #ffffff

.pricing 
    margin: 0
    padding: 40rem 0 22rem
    font-size: 86rem
    letter-spacing: -3rem
    font-weight: 500
    color: #fff

.main-text
    margin: 0 auto
    padding-bottom: 100rem
    max-width: 387rem
    text-align: center
    font-size: 16rem
    line-height: 1.75em
    font-weight: 400
    color: #fff

.arrow
    position: relative
    a
        position: absolute
        margin: 0
        left: 40%
        width: 65rem
        height: 65rem
        background-color: #fff
        border-radius: 50%
        box-shadow: 0 0 10.5rem 5rem rgba(204,204,223,0.5)
        transition: all 1s ease
        &:hover
            box-shadow: 0 0 10.5rem 10rem rgba(204,204,223,0.5)
        &:before
            content: ""
            position: absolute
            height: 18rem
            top: 26rem
            left: 32rem
            border: none
            border-left: 2rem solid #9fa4af
        &::after
            content: ""
            position: absolute
            top: 32rem
            left: 27rem
            width: 10rem
            height: 10rem
            border: none
            border-left: 2rem solid #9fa4af
            border-bottom: 2rem solid #9fa4af
            transform: rotate(-45deg)

.card-info
    flex-wrap: nowrap
    flex-direction: column
    padding: 120rem 0 100rem
    p
        margin: 0
        max-width: 380rem
        font-size: 16rem
        line-height: 1.75em
        font-weight: 400
        color: #9fa4af
        font-weight: 400
    h2
        margin: 0
        padding: 25rem 0 38rem
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 1.2em
        color: #4f4f6f
        font-weight: 500
        color: #4f4f6f

.name
    margin: 0
    display: inline-block
    position: relative
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 2.28em
    font-weight: 700
    text-align: center
    text-transform: uppercase
    color: #9fa4af
    &::before
        content: ""
        position: absolute
        top: 50%
        left: -50rem
        width: 24rem
        border: 1rem solid #6e45e2
    &::after
        content: ""
        position: absolute
        top: 50%
        right: -50rem
        width: 24rem
        border: 1rem solid #6e45e2

.tarif
    align-items: center
    justify-content: center
    +media(1024)
        margin-right: 50rem

.card-figure
    margin: 0 15rem
    margin-bottom: 50rem
    padding: 65rem 0 
    max-width: 440rem
    max-height: 650rem
    border-radius: 30rem
    background-color: #ffffff
    border: 1rem solid #d7dbe8
    +media(425)
        margin: 0 50rem
        margin-bottom: 50rem
    +media(1024)
        margin: 0
        margin-left: 50rem
        margin-bottom: 120rem
        max-width: 380rem
    &:hover 
        border: 1rem solid transparent
        filter: drop-shadow(0 0 46rem rgba(204,204,223,0.71))
    a
        margin: 54rem 0 0
        +btn()

.img 
    min-width: 120rem
    min-height: 110rem
    padding: 0 0 55rem

.personal
    margin: 0
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 2.28em
    font-weight: 700
    text-transform: uppercase
    color: #9fa4af

.price 
    position: relative
    display: inline-block
    font-size: 16rem
    color: #4f4f6f
    font-weight: 500
    span
        font-size: 16rem
        letter-spacing: -1rem
        line-height: 3.18em
        font-weight: 500
    b
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 1,2em
        font-weight: 500

.currency
    position: absolute
    top: -5rem
    left: -10rem

.description 
    margin: 0
    padding: 0 20rem
    max-width: 296rem
    li
        list-style: none
        font-size: 16rem
        line-height: 1,7em
        color: #9fa4af
        font-weight: 400

.bottom-bg
    padding: 150rem 0
    +gradient("../img/map.png")

.bottom-info
    p
        margin: 0
        font-size: 14rem
        letter-spacing: 1rem
        line-height: 2.28em
        text-transform: uppercase
        color: #ffffff
        font-weight: 700
    h2
        margin: 0
        padding: 24rem 0 18rem
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 1.2em
        font-weight: 500
        color: #ffffff
    .cta
        margin: 0 0 10rem       
        +btn

.bottom-cta
    column-gap: 10rem

hr
    margin: 0 25rem
    opacity: 0.4
    border: none
    border-top: 1rem solid #bdbdc2
    +media(1024)
        margin: 0 50rem

.social 
    flex-wrap: wrap-reverse
    justify-content: center
    margin: 0 20rem
    column-gap: 25rem
    +media(1024)
        margin: 0 50rem
        justify-content: space-between
    p
        margin: 33rem 0 27rem
        opacity: 0.502
        font-size: 14rem
        line-height: 19rem
        color: #6a6a77

.social-svg
    margin: 25rem 0 0 25rem
    margin-bottom: 0
    +media(682)
        margin-bottom: 0
    a
        padding-right: 18rem
    .inst 
        padding-right: 0
        

svg
    opacity: 0.502
    fill: #6a6a77
    &:hover
        fill: #10105c