@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Bold.eot');
    src: url('../fonts/MavenPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MavenPro-Bold.woff2') format('woff2'),
        url('../fonts/MavenPro-Bold.woff') format('woff'),
        url('../fonts/MavenPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Medium.eot');
    src: url('../fonts/MavenPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MavenPro-Medium.woff2') format('woff2'),
        url('../fonts/MavenPro-Medium.woff') format('woff'),
        url('../fonts/MavenPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.eot');
    src: url('../fonts/MavenPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MavenPro-Regular.woff2') format('woff2'),
        url('../fonts/MavenPro-Regular.woff') format('woff'),
        url('../fonts/MavenPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

